<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=__('nav.instructors')%></title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('../fragments/header.ejs') %>
    <div class="main">
        <h2><%=__('instructors-page.title')%></h2>
        <br>
        <table class="table">
            <thead>
                <tr id="mainRow">

                    <th><%=__('instructors-page.table.name')%></th>
                    <th><%=__('instructors-page.table.email')%></th>
                    <th><%=__('instructors-page.table.price')%></th>
                    <th><%=__('instructors-page.table.lisense')%></th>
                    <th><%=__('instructors-page.table.has-car')%></th>
                    <th><%=__('instructors-page.table.actions')%></th>
                </tr>
            </thead>
            <tbody>
                <% for (let instructor of insts) { %>
                <tr>
                    <td><%= instructor.name %></td>
                    <td><%= instructor.email %></td>
                    <td><%= instructor.price %></td>
                    <td><%= instructor.licenseIssueDate %></td>
                    <td><%= instructor.hasCar %></td>
                    <td>
                        <ul class="list">
                            <li><a href="/instructor/details/<%=instructor._id%>" class="list-action-button-details"><%=__('instructors-page.table.action-buttons.details')%></a></li>
                            <li><a href="/instructor/edit/<%=instructor._id%>" class="list-action-button-edit"><%=__('instructors-page.table.action-buttons.edit')%></a></li>
                            <li><a href="/instructor/delete/<%=instructor._id%>" class="list-action-button-delete"><%=__('instructors-page.table.action-buttons.delete')%></a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
             </tbody>
        </table>
        <p><a href="/instructor/add" class="button-add"><%=__('instructors-page.buttons.add-new-instructor')%></a></p>
    </div>
    
    <%- include('../fragments/footer.ejs') %>
    

</body>
</html>