<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('../fragments/header.ejs') %>
    <div class="main">
        <h2>List of instructors:</h2>
        <br>
        <table class="table">
            <thead>
                <tr id="mainRow">

                    <th>Name</th>
                    <th>Email</th>
                    <th>Price(per hour)</th>
                    <th>Lisence Issue Date</th>
                    <th>Has Car</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let instructor of insts) { %>
                <tr>
                    <td><%= instructor.name %></td>
                    <td><%= instructor.email %>/td>
                    <td><%= instructor.price %></td>
                    <td><%= instructor.licenseIssueDate %></td>
                    <td><%= instructor.hasCar %></td>
                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Details</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()"  href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
             </tbody>
        </table>
        <p><a href="./form.html" class="button-add">Add new instructor</a></p>
    </div>
    
    <%- include('../fragments/footer.ejs') %>


    <script>
        function deleteFunc() {
            var response = confirm("Do you want to delete it?  Click OK to proceed otherwise click Cancel.");
            if ( response == true )
                {alert("Student was deleted")}
        }
     </script>
    

</body>
</html>