<!--chech github-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="header">
        <nav>
            <a href="/"><img src="../../images/logo-fococlipping-standard.png" alt="logo" class="logo" ></a>
            <ul class="nav-links">
                <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>"><h3><%=__('nav.home')%></h3></a></li>
                <li><a href="/student" class="<%= navLocation == 'student' ? 'active' : '' %>"><h3><%=__('nav.students')%></h3></a></li>
                <li><a href="/instructor" class="<%= navLocation == 'instructor' ? 'active' : '' %>"><h3><%=__('nav.instructors')%></h3></a></li>
                <li><a href="/lesson" class="<%= navLocation == 'lesson' ? 'active' : ''%>" ><h3><%=__('nav.driving-lessons')%></h3></a></li>
            </ul>
            <ul class="nav-links">
                <li><a href="/changeLang/ru" class="<%= lang == 'ru' ? 'active' : ''%>">RU</a></li>
                <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : ''%>">EN</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>