<!--chech github-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=__('nav.home')%></title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('./fragments/header.ejs') %>
    <div class="main">
        <h2><%=__('home-page.title')%></h2><br>
        <p><%=__('home-page.description1')%></p>
        <br><p><%=__('home-page.description2')%>/p>
        <br><img src="./images/8bb3ce5ce65928a1aef596b5c93217124afd4a1e.jpg" alt="photo">
    </div>
    <%- include('./fragments/footer.ejs') %>
</body>
</html>