<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <script type="application/javascript" src="../../js/validationCommon.js"></script>
    <script type="application/javascript" src="../../js/validationLesson.js"></script>
</head>
<body>
    
    <%- include('../fragments/header.ejs') %>

    <div class="main">
        <h2><%= pageTitle %></h2>
        <hr>
        <br>
        <form class="form" method="post" action="<%=formAction%>" novalidate >
            <input type="hidden" name="_id" value="<%=lesson._id %>">

            <label for="student" >Student<span class="symbol-required">*</span> </label>
            <select name="stuId"  id="student" class="<%= validationErrors.find(e => e.path.includes('stuId')) ? 'error-input' : ''%>"  <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                
                <% if(formMode==='showDetails') { %>

                    <option disabled selected value><%= lesson.student.firstName %> <%= lesson.student.lastName %></option>

                <% } else if(formMode==='edit') { %>
                    <option disabled value  <%= (lesson.stuId === undefined) ? 'selected' : '' %>> -- select student -- </option>
                    
                    <% for (let student of students) { %>
                        <option value="<%=student._id%>" <%= (student._id == lesson.stuId) ? 'selected' : '' %>><%=student.firstName%> <%=student.lastName%></option>
                    <% } %>

                <% } else { %>

                    <option disabled selected value> -- select student -- </option>
                    
                    <% for (let student of students) { %>
                        <option value="<%=student._id%>"><%=student.firstName%> <%=student.lastName%></option>
                    <% } %>

                <% } %>
            </select>
            <span id="errorSName" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('stuId'))) { %>
                    <%= validationErrors.find(e => e.path.includes('stuId')).message %>
                <% } %>
            </span>

            <label for="instructor">Instructor<span class="symbol-required">*</span></label>
            <select name="insId" id="instructor" class="<%= validationErrors.find(e => e.path.includes('insId')) ? 'error-input' : ''%>"  <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <% if(formMode==='showDetails') { %>
                    <option disabled selected value><%= lesson.instructor.name %></option>

                 <% } else if(formMode==='edit') { %>
                    <option disabled value  <%= (lesson.insId === undefined) ? 'selected' : '' %>> -- select instructor -- </option>
                    
                    <% for (let instructor of instructors) { %>
                        <option value="<%=instructor._id%>" <%= (instructor._id == lesson.insId) ? 'selected' : '' %>><%=instructor.name%>%></option>
                    <% } %>

                <% } else { %>
                    <option disabled selected value> -- select instructor -- </option>
                    
                    <% for (let instructor of instructors) { %>
                        <option value="<%=instructor._id%>"><%=instructor.name%></option>
                    <% } %>
                <% } %>
            </select>
            <span id="errorIName" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('insId'))) { %>
                    <%= validationErrors.find(e => e.path.includes('insId')).message %>
                <% } %>
            </span>

            <label for="startDate">Start Date<span class="symbol-required">*</span></label>
            <input id="startDate" name="startDate" type="datetime-local" required value="<%= lesson.startDate %>" class="<%= validationErrors.find(e => e.path.includes('startDate')) ? 'error-input' : ''%>"  <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <span id="errorSNumber" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('startDate'))) { %>
                    <%= validationErrors.find(e => e.path.includes('startDate')).message %>
                <% } %>
            </span>
            
            <label for="endDate">End Date<span class="symbol-required">*</span></label>
            <input id="endDate" name="endDate" type="datetime-local"  required value="<%= lesson.endDate %>" class="<%= validationErrors.find(e => e.path.includes('endDate')) ? 'error-input' : ''%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <span id="errorENumber" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('endDate'))) { %>
                    <%= validationErrors.find(e => e.path.includes('endDate')).message %>
                <% } %>
            </span>

            <label for="category">Category</label>
            <input id="category" name="category" type="text"  required value="<%= lesson.category %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>>

            <div class="form-buttons">
                <p id="errorSummary" style="visibility: hidden;">Form contains errors!</p>
                <% if(formMode=='showDetails') { %>
                    <div class="section-buttons">
                        <a href="/lesson/edit/<%= lesson._id%>" class="form-button-edit">Edit</a>
                    </div>
                    <br>
                <% } %>
                <% if(formMode!='showDetails') { %>
                    <input type="submit" class="form-button-submit-add" value="<%=btnLabel%>" />
                    <a href="/lesson" class="form-button-cancel">Cancel</a>
                <% } else { %>
                    <a href="/lesson" class="form-button-cancel">Return</a>
                <% } %>
            </div>
        </form>  
    </div>

    <%- include('../fragments/footer.ejs') %>

    <script>
        function myFunction() {
          alert("Record has been added.");
        }
    </script>

</body>
</html>