<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('../fragments/header.ejs') %>

    <div class="main">
        <h2>List of lessons:</h2>
        <br>
        <table class="table">
            <thead>
                <tr id="mainRow">

                    <th>Student</th>
                    <th>Instructor</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Categoty</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let lesson of lessns) { %>
                <tr>
                    <td><%= lesson.stuId%></td> <!--getName here not id-->
                    <td><%= lesson.insId%></td> <!--getName here not id-->
                    <td><%= lesson.startDate %></td>
                    <td>1<%= lesson.endDate %></td>
                    <td><%= lesson.category %></td>
                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Details</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()"  href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <p><a href="./form.html" class="button-add">Add new lesson</a></p>
    </div>
    
    <%- include('../fragments/footer.ejs') %>


    <script>
        function deleteFunc() {
            var response = confirm("Do you want to delete it?  Click OK to proceed otherwise click Cancel.");
            if ( response == true )
                {alert("Student was deleted")}
        }
     </script>
    

</body>
</html>